.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  border-bottom: whitesmoke solid 1px;
}
.todo-complete > input {
  margin-right: 1rem;
}
label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
label > input {
  margin-left: 10px;
  margin-top: 1px;
}
