.view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view > .item > input {
  margin-right: 1rem;
}
.view > .item > label {
  margin-right: 1rem;
}

.buttons .destroy {
  background-color: #e7413e;
  margin-right: 1rem;
}
.destroy:hover,
.edit:hover {
  opacity: 0.8;
}
.buttons > button {
  height: 70%;
  font-weight: bold;
  border: none;
  color: white;
  box-shadow: 0 3px 3px rgb(34 25 25 / 40%);
  cursor: pointer;
  padding: 10px 5px;
}
.buttons {
  white-space: nowrap;
  margin-left: 10px;
}
.buttons > .edit {
  background-color: #77b3d4;
}
.item {
  width: 100%;
}
.editInput {
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
}
.editInput > input:focus {
  outline: 0;
}

.editInput > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 8px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 30px;
}
.editInput > button {
  font-weight: bold;
  font-size: 1em;
  border: none;
  color: white;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
  padding: 5px;
  cursor: pointer;
}
.editInput > .edit {
  background-color: #77b3d4;
}
.editInput .destroy {
  background-color: #e7413e;
  margin-right: 16px;
}
